* {
    margin: 0;
    padding: 0;
}

.stopwatch {
    width: 300px;
    margin: 30px auto;
}
.stopwatch-timer {
    margin-bottom: 20px;
}

.stopwatch-laps {
    
}

.stopwatch-lap {

}

.start-btn {

}

.stop-btn {

}
